html, body {
  margin: 0;
  padding: 0;
}

.webiik-welcome {
  display: table-cell;

  position: relative;
  left: 10px;
  top: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);

  vertical-align: middle;
  background: #ffffb3;

  h1 {
    font-size: 5em;
    line-height: 1em;
    margin: 0 0 .1em 0;
    text-align: center;
  }

  p {
    font-style: italic;
    font-size: 1.5em;
    margin: 0;
    text-align: center;
  }

  a {
    color: inherit;
    &:hover {
      color: #8900ff;
    }
  }

}

@media (min-width: 800px) {
  .webiik-welcome {
    left: 15px;
    top: 15px;
    width: calc(100vw - 30px);
    height: calc(100vh - 30px);

    h1 {
      font-size: 8em;
      margin: 0 0 .1em 0;
      text-align: center;
    }

    p {
      font-size: 2em;
      margin: 0;
      text-align: center;
    }
  }
}