body, html {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $base-font-size;
}

.block-sidenav {
  box-sizing: border-box;
  position: fixed;
  left: 0;
  top: 120px;
  //border-right: solid 1px $color-line;
  width: $sidebar-width;
  height: calc(100% - 120px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: $color-nav;
}

.block-sidenav-content {
  position: absolute;
  left: $sidebar-width;
  top: 0;
  width: calc(100% - #{$sidebar-width} - #{$padding} * 2);
  padding: $padding;
}

.logo {
  position: fixed;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: $sidebar-width;
  text-align: center;
  //border-right: solid 1px $color-line;
  height: 120px;
  background: $color-nav;

  a {
    display: block;
    box-sizing: border-box;
    padding: 38px 0 15px 0;
    font-size: 2em;
    text-decoration: none;
    color: #000000;
  }

  a:hover {
    color: #000000;
  }

  a img {
    position: relative;
    top: 5px;
    width: 40px;
    height: auto;
  }

  a span {
    font-size: .5em;
  }
}


.sidenav {

  margin: 0;
  padding: 5px $padding $padding $padding;

  ul {
    list-style: none;
    margin: 1.5em 0 0 0;
    padding: 0;
    line-height: 1.6em;
    font-size: 1.1em;
    font-weight: bold;
  }

  ul:first-child {
    margin: 0;
  }

  ul ul {
    font-weight: normal;
    margin: 0;
    padding: .3em 0 0 1.5em;
    font-size: $base-font-size;
  }

  ul ul ul {
    font-weight: normal;
    padding: 0 0 0 1.5em;
  }

  .current {
    color: $color-a-selected;
  }

  a {
    text-decoration: none;
  }
}

.highlight code {
  display: block;
  padding: 10px 15px;
  line-height: 1.5em;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

h1 {
  font-size: 2.2em;
  border-bottom: 1px solid $color-line;
  padding-bottom: .3em;
}

h1:first-child {
  margin: 0;
}

h2 {
  border-bottom: 1px solid $color-line;
  padding-bottom: .3em;
  margin: 1.5em 0 0 0;
}

h3 {
  margin: 1.5em 0 0 0;
}

ul, ol {
  line-height: 1.5em;
}

p {
  //margin: 1.5em 0 0 0;
  line-height: 1.5em;
}

p.intro {
  font-size: 1.5em;
}

a {
  color: $color-a;
}

a:hover {
  color: $color-a-hover;
}

blockquote {
  background: #f8f8f8;
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: .5em 10px;
}

blockquote p {
  display: inline;
}

img.medium {
  width: 556px;
  height: auto;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

@media (max-width: 1024px) {
  img.medium {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 800px) {

  .logo {
    position: relative;
    width: auto;
    text-align: center;
    height: 60px;

    a {
      position: relative;
      top: 2px;
      left: 10px;
      display: inline-block;
      margin: 2px auto 0 auto;
      text-align: center;
      font-size: 1.8em;
      padding: 5px;
    }

    a img {
      top: 4px;
      width: 35px;
    }
  }

  #bt-menu {
    position: fixed;
    left: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    z-index: 3;
    cursor: hand;
    cursor: pointer;
    background: $color-a;
    border-radius: 20px;
  }

  #bt-menu div {
    position: relative;
    left: 9px;
    top: 5px;
    width: 22px;
    height: 2px;
    background: #FFFFFF;
    margin: 6px 0;
  }

  #bt-menu.open div {
    display: none;
  }

  #bt-menu.open div:first-child {
    display: block;
    transform: rotate(45deg);
    top: 13px;
  }

  #bt-menu.open div:last-child {
    display: block;
    transform: rotate(-45deg);
  }

  .sidenav {
    padding: $padding 0 $padding 50px;
  }

  .block-sidenav {
    display: none;
    top: 0;
    height: 100%;
    background: #FFFFFF;
    z-index: 1;
    box-shadow: 0 0 50px rgba(0, 0, 0, .4);
  }

  .block-sidenav.open {
    display: block;
  }

  .block-sidenav-content {
    position: relative;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    padding: $padding;
    word-break: break-word;
  }

  .block-sidenav-content table, .block-sidenav-content code {
    word-break: normal;
  }
}

@media (max-width: 767px) {
  .block-sidenav-content {
    padding: $padding - 10px;
  }
}

@media (max-width: 500px) {
  p.intro {
    font-size: 1.3em;
  }

  ol {
    margin: 0;
    padding: 0 0 0 $padding - 10px;
  }
}

@media (max-width: 350px) {
  p.intro {
    font-size: 1em;
  }
  .block-sidenav-content {
    padding: $padding - 20px;
  }
}