table {
  width: 100%;
  margin: 1.5em 0 0 0;
  border-collapse: collapse;

  td, th {
    padding: 8px;
    border-top: solid 1px $color-line;
    border-bottom: solid 1px $color-line;
    border-left: solid 1px $color-line;
  }

  td:first-child {
    border-left: none
  }

  th {
    border: none;
  }

  tr:nth-child(even) {
    background: $color-table-row;
  }
}

div.table {
  overflow-x: auto;
}