$base-font-size: 17px;
$font-family: sans-serif;
$padding: 40px;
$sidebar-width: 280px;
$color-nav: #ffffb3;
$color-line: #e6e6b8;
$color-table-row: #ffffe6;
$color-a: #000000;
$color-a-hover: #8900ff;
$color-a-selected: #8900ff;