{% extends "base.twig" %}
{% block head %}
    {# Page related head tags (not for SEO - it should be in base template) #}
    <link rel="stylesheet" href="{{ WEBIIK_BASE_PATH }}assets/app/css/home.css" type="text/css">
{% endblock %}
{% block content %}
    {# Page related content #}
    <div class="webiik-welcome">
        <h1>{{ h1 }}</h1>
        <p>{{ txt|raw }}</p>
    </div>
{% endblock %}
{% block js %}
    {# Page related JS #}
    <script src="{{ WEBIIK_BASE_PATH }}assets/app/js/home.js"></script>
{% endblock %}