<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="webiik, php, framework">
        <meta name="robots" content="all,follow">
        <title>Webiik {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <!--Favicons-->
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
        <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
        <!--Apple icons-->
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
        <link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#3c3c3c">
        <!--Twitter-->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Webiik Framework">
        <meta name="twitter:description" content="Webiik is small, yet powerful PHP framework.">
        <meta name="twitter:image:src" content="/assets/images/meta/webiik.jpg">
        <meta name="twitter:url" content="https://www.webiik.com">
        <!--FB-->
        <meta property="og:title" content="Webiik Framework">
        <meta property="og:description" content="Webiik is small, yet powerful PHP framework.">
        <meta property="og:url" content="https://www.webiik.com">
        <meta property="og:image:height" content="1380">
        <meta property="og:image:width" content="2332">
        <meta property="og:image" content="/assets/images/meta/webiik.jpg">
        <meta property="og:type" content="website">
    </head>
    <body>
        <div class="block-sidenav" id="block-sidenav">
        {% include navigation.html %}
        </div>
        <div class="logo"><a href="/"><img src="/assets/images/logo-webiik.svg" alt="Webiik"> Webiik <span>1.0</span></a></div>
        <div id="bt-menu" class="noselect">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="block-sidenav-content">
        {{ content }}
        </div>
    </body>
    <script type="text/javascript">
        function hasClass(ele, cls) {
            return !!ele.className.match(new RegExp('(\\s|^)' + cls + '(\\s|$)'));
        }

        function addClass(ele, cls) {
            if (!hasClass(ele, cls)) ele.className += " " + cls;
        }

        function removeClass(ele, cls) {
            if (hasClass(ele, cls)) {
                var reg = new RegExp('(\\s|^)' + cls + '(\\s|$)');
                ele.className = ele.className.replace(reg, ' ');
            }
        }

        function wrapp(tag, cls) {
            var elements = document.querySelectorAll(tag);
            for (var i = 0; i < elements.length; i++) {
                elements[i].outerHTML = '<div class="' + cls + '">' + elements[i].outerHTML + '</div>';
            }
        }

        wrapp('table', 'table');

        document.getElementById('bt-menu').onclick = function () {
            var ele = document.getElementById('block-sidenav');
            var cls = 'open';
            if (hasClass(ele, cls)) {
                removeClass(ele, cls);
            } else {
                addClass(ele, cls);
            }

            ele = document.getElementById('bt-menu');
            cls = 'open';
            if (hasClass(ele, cls)) {
                removeClass(ele, cls);
            } else {
                addClass(ele, cls);
            }
        };
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137467190-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-137467190-1');
    </script>
</html>